/* @media  only screen and (min-width: 320) and (max-width: 768 - 1px) {
@content;
}

@media  only screen and (min-width: 768) and (max-width: #{1024 - 1px}) {
@content;
} */


.mobile-intro {
  display: flex;
  height: 86px;
}

.mobile-intro-text {
  font-size: 35px;
  font-family: audiowide, Avenir-black;
  color: #1D1E21;
  padding-top: 20px;
}
@media  only screen and (min-width: 768px) {
  .mobile-intro {
    display: none;
  }
}

.img {
  height: 50vh;
  background-position: center;
  background-size: cover;
}

/* Testing this out */
@media  only screen and (max-width: 767px) {
  .img {
    box-shadow: 0px 2px 4px grey;
    border-radius: 25px;
    height: 300px;
    width: 300px;
    background-position: 50%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
  }
}

.txt {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  font-family: plaster, Avenir-black;
  color: white;
  font-size: 30px;
}

.img-1 {
  background-image: url("../img/jpg/design.jpg");
}
@media  only screen and (min-width: 768px) {
  .img-1 {
    height: 100vh;
  }
}

.img-2 {
  background-image: url("../img/jpg/indie.jpg");

}
.img-3 {
  background-image: url("../img/jpg/education.jpg");

}
.img-4 {
  background-image: url("../img/jpg/flower.jpg");

}
.img-5 {
  background-image: url("../img/jpg/about.jpg");

}
